
# pyleafai is a contributing library to Cognizant
# ENN and ESP products, but is not considered an endpoint of
# consumption.  To that end we do not want to dictate which
# transient dependency versions go into the shipping library
# if we can help it.
#
# The dependencies listed here are those required by the library
# code itself, *not* for building the library.
#
# As this is a low-level library included by many projects we
# specifically do *not* want heavy dependencies that drag in lots
# of other transient dependencies in this library (think: Keras).
# The intent is not to bloat the delivery infrastructure
# (builds, containers, etc) of client code that does not need
# all the other transient dependencies.
#
# ... But theoretically pyleafai should not depend on anything.
#       ... or at least very little.
