# Per https://stackoverflow.com/questions/7522250/how-to-include-package-data-with-setuptools-distutils
# We cannot use package_data and expect data files to get into the source distribution.
# So we use a MANIFEST.in file to specify the non-python files that go into the library.
include esp_service/schema/experiment_params_schema.json
