 
# These requirements are for the Python that is run in the
# build container.
#
# Requirements for tests, code style and other build stuff reside in
# requirements-build.txt

# Do the source-available stuff first to fast-fail if credentials are not right
# DEF 07/26/2022: Due to bug in codefresh private repo plugin, this leaf-common
# comes in from top-level requirements.txt file for now.
# Public repos

# LEAF common library for client-side
git+https://${LEAF_SOURCE_CREDENTIALS}@github.com/leaf-ai/leaf-common.git@1.2.18

# pyleafai common library for server-side
git+https://${LEAF_PRIVATE_SOURCE_CREDENTIALS}@github.com/leaf-ai/pyleafai.git@1.1.4

